<div class="header">
<div class="container">
  <h1>Tweetly <i class="fab fa-twitter"></i></h1>
</div>
</div>

<div class="main">
<div class="container">
  
  <%= form_for(@new_post) do |f| %>
  <%= f.text_field :comment, :placeholder => "share your thoughts" %>
  <%= f.submit "Share", :class => "btn" %>

  <% end %>

  
  <ul class="comments">
    <% @all_posts.each do |p| %>
      <li><%= p.comment %></li>
      <% end %>
  </ul>

</div>
</div>